@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background: url(./background-home-desktop.jpg) no-repeat ;
    background-size: 100%,100%;
    text-transform: uppercase;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.logo{
    padding: 50px ;
}
.navbar{
    margin-top: -100px; 
    margin-left: 45vw;
    width: 55vw;
    height: 100px;
    background: inherit;
    text-align: center;
}
a{
    letter-spacing: 3px;
    padding-top: 40px;
    padding-left: 35px;
    color: white;
    text-decoration: none;
    display: inline-flex;
}
a:hover{
    text-decoration: underline 5px rgb(255, 255, 255);
    text-underline-offset: 42px;
}
h2{
    padding-top: 60px;
    padding-left: 150px;
    font-size: 30px;
    letter-spacing: 1px;
    color: rgb(214, 214, 214);
}
h1{
    margin-top: -10px;
    color: white;
    padding-left: 160px;
    font-size: 160px;
    letter-spacing: 8px;
}
p{
    text-transform: lowercase;
    margin-top: -30px;
    line-height: 35px;
    width: 40vw;
    color: rgb(203, 203, 203);
    font-size: 20px;
    padding-top: 0px;
    padding-left: 140px;
}
#explore{
    display: block;
    margin-top: -350px;
    margin-left: 75vw;
    width: 300px;
    height:300px ;
    border-radius: 150px;
    font-size: 35px;
    text-transform: uppercase;
    cursor: pointer;
}